.blogs {
  display: flex;

  flex-direction: column;
  flex-basis: auto;
  cursor: pointer;
}

.blog {
  display: flex;
  flex-direction: column;
  flex-basis: auto;
  height: auto;
  /* flex:1; */
  padding: 20px 50px;
  margin: 20px 0;
  border-radius: 20px;
  box-shadow: -2px 1px 9px -2px rgba(112, 112, 112, 0.322);
  -webkit-box-shadow: -2px 1px 9px -2px rgba(112, 112, 112, 0.322);
  -moz-box-shadow: -2px 1px 9px -2px rgba(112, 112, 112, 0.322);
}
.blog_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.header_left {
  display: flex;
  align-items: center;
}
.header_left > h2 {
  padding-left: 10px;
  font-size: 14px;
}
.header_left > img {
  width: 48px;
}

.blog_content > img {
  width: 80%;
  height: 370px;
  margin: 20px 0;
  border-radius: 20px;
}
