.blogs {
  
  display:grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-column-gap: 1.5rem;
  grid-row-gap: 2rem;
  
 

}

.blog {

  padding: 15px 20px;
  /* margin: 20px 0; */
  border-radius: 20px;
  box-shadow: -2px 1px 9px -2px rgba(112, 112, 112, 0.322);
  -webkit-box-shadow: -2px 1px 9px -2px rgba(112, 112, 112, 0.322);
  -moz-box-shadow: -2px 1px 9px -2px rgba(112, 112, 112, 0.322);
}
.blog_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.header_left {
  display: flex;
  align-items: center;
}
.header_left > h2 {
  padding-left: 10px;
  font-size: 14px;
}
.header_left > img {
  width: 56px;
}
.header_right .trash_icon{
  padding: 10px;
  cursor: pointer;
  font-size: 40px;
  color: #1da1f3;
  /* background: #1da1f365; */
  border-radius: 50%;
}
.header_right .trash_icon:hover{
    background: #1da1f365;
    transition: all .3s ease-in-out;
}
.blog_content > img {
  width: 90%;
  height: 200px;
  margin: 20px 0;
  border-radius: 20px;
}

.spinner{
  display: flex;
  margin: 50px;
  justify-content: center;
  align-items: center;


}
.spinner img{
  height: 100px;
}

 