* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/*  */
a {
  text-decoration: none;
  color: black;
}
ul {
  list-style: none;
}
.app {
  display: flex;
  height: 100vh;
 
  flex-basis: auto;
  margin: 0 auto;
 
 
}

.message,
.tech,
.programming {
  flex: 0.8;
  padding: 30px 10px;
  overflow-y: scroll;
  text-align: justify;
  width: 80vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.message>img,
.tech>img,
.programming>img{
 width: 100%;
}
::-webkit-scrollbar {
  display: none;
}

/* responsive */

@media (max-width: 768px) {
  .home,
  .message,
  .tech,
  .programming {
    flex: 0.9;
    padding: 30px 10px;
    overflow-y: scroll;
    text-align: justify;
    width: 80vw;
  }
  .app {
    
   
    flex-basis: auto;
    margin: 0 auto;
    padding: 0 10px;
    
  }
}
/* width
::-webkit-scrollbar {
    width: 8px !important;
  }
  
  /* Track */
/* ::-webkit-scrollbar-track {
    background: #006466;
  
  } */

/* Handle */
/* ::-webkit-scrollbar-thumb {
    background: #8cf1f3  !important;;
    border-radius: 5px !important;
  } */

/* Handle on hover  */
/* ::-webkit-scrollbar-thumb:hover {
    background: rgb(176, 178, 180)  !important;;
  }
   */
