.auth {
  margin: 40px auto;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  /* flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: auto;
  margin: 40px auto; */
}

.auth-right {
  flex: 0.6;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}
.auth-left {
  flex: 0.4;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}

.auth-right > form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* min-width: 100%; */
  padding: 0 150px;
  margin: 140px auto;

  /* border-radius: 20px; */
}
.auth-right > form > input {
  margin-bottom: 20px;
  width: 100%;
  min-width: 300px;
  padding: 12px 20px;
  border: none;
  font-size: 18px;
  background: rgba(128, 128, 128, 0.219);
  border-radius: 333px;
}
.auth-right > form > input::placeholder {
  color: rgb(0, 0, 0);
  padding-left: 20px;
  
}
.auth-right > form > button {
  background: #1da1f3;

  border-radius: 20px;
  border: none;
  padding: 8px 36px;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
}

.auth-left p {
  font-size: 24px;
  font-weight: 500;
}
.auth-left .content > button {
  background: #1da1f3;
  margin: 20px 0;
  border-radius: 20px;
  border: none;
  padding: 8px 36px;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
}
@media (max-width: 768px){
  
  .auth-left .content  {
    text-align: center;
  }
}